<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#237afc"
    },
    "button": {
      "background": "#fff",
      "text": "#237afc"
    }
  },
  "theme": "classic",
  "content": {
    "message": "当サイトでは、閲覧数等を集計しサイト改善を行うためにCookieを使用しています。",
    "dismiss": "同意して閉じる",
    "link": "さらに詳しく",
    "href": "https://our-neuroscience.github.io/cookie_policy"
  }
});
</script>