<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#237afc"
    },
    "button": {
      "background": "#fff",
      "text": "#237afc"
    }
  },
  "theme": "classic",
  "type": "opt-in",
  "content": {
    "message": "当サイトでは、閲覧数等を集計しサイトの改善を行うためにCookieを使用しています。",
    "allow": "Cookieの利用を許可する",
    "link": "さらに詳しく"
  }
});
</script>